$green: #00a650;
$red: #f26522;
$fontcol: #3c353f;
$bgcol: #f7f7f7;
$fontfam: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
$fonttit: "Roboto Slab", Helvetica, Arial, Verdana, sans-serif;

@import 'node_modules/tippy.js/dist/themes/light.css';

body {
  color: $fontcol;
  background-color: $bgcol;
  font-family: $fontfam;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    outline: none;
  }
}

header {
  padding: 1em 10% 2em 10%;
  height: 100vh;
  background: linear-gradient(0.5turn, $green, $green, $green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $bgcol;

  h1 {
    font-size: 3em;
    font-family: $fonttit;
  }

  h2 {
    font-size: 1em;
    font-weight: 600;
  }
}

main {
  .data_caption {
    font-style: italic;
    color: lighten($fontcol, 20%);
    font-size: 0.85em;

    a {
      color: inherit;
      text-decoration: solid $red;
    }
  }

  #chart {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.61fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    padding: 1em 2em 1em 2em;

    h3 {
      grid-column: 1 / -1;
      padding: 1em 0 1em 0;
    }

    nav {
      grid-column: 1 / -1;
      padding: 0;
      margin: 0 0 1em 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        text-align: start;
        border-radius: 0;
        line-height: 1.5;
        border: none;
        background-color: darken($bgcol, 10%);
        padding: 0.5em 0.5em 0.5em 0.5em;
        cursor: pointer;
      }

      button.active {
        background-color: darken($bgcol, 25%);
        font-weight: 600;
      }
    }

    figure {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: auto 1fr 1fr 1fr;
      grid-template-rows: auto repeat(auto-fill, 1fr);

      .year {
        text-align: center;
      }

      .source_name {
        grid-column: 1 / 2;
        display: flex;
        align-items: center;

      }

      .source_value {
        text-align: center;
      }


      svg {
        margin: 0 2em 0 2em;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
      }
    }

    #explanation {
      padding: 0;
      margin: 0;

      ul {
        list-style-type: none;

        i {
          font-size: 0.5em;
          color: $green;
        }

        li {
          margin: 0 0 1em 1em;
        }

        li.subsection {
          font-weight: 600;
          margin: 2em 0 1em 0;
        }
      }
    }
  }

  #costs {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    padding: 1em 2em 1em 2em;

    h3 {
      grid-column: 1 / -1;
      padding: 1em 0 1em 0;
    }

    figure {
      display: grid;
      padding: 0;
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1.5em;

      .byType {
        display: flex;
        align-items: end;
        flex-wrap: wrap;
      }

      svg {
        overflow: visible;

        path.line {
          stroke-width: 2px;
          stroke-opacity: 0.75;
        }
      }

      p {
        font-size: 0.85em;
        margin: 0;
        padding: 1em 0 1em 0;
      }
    }
  }
}